In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from pandas_datareader import data as pdr

In [16]:
import yfinance as yf

In [15]:
from alpha_vantage.timeseries import TimeSeries

In [5]:
import matplotlib.pyplot as plt

In [18]:
yf.pdr_override()

yfinance: pandas_datareader support is deprecated & semi-broken so will be removed in a future verison. Just use yfinance.

In [6]:
# Random Variables

In [7]:
ser = pd.Series(np.random.random(5), name = "Column 01")

In [8]:
ser

0    0.606857
1    0.329458
2    0.907570
3    0.407705
4    0.798320
Name: Column 01, dtype: float64

In [9]:
ser[2]

0.9075700034886875

In [10]:
# Stocks Data

In [24]:
pg = pdr.get_data_yahoo("PG", start = "2015-1-1", end = "2024-06-22")
pg.tail(10)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-06-07,168.399994,168.970001,166.839996,167.059998,167.059998,4558200
2024-06-10,166.779999,167.720001,166.080002,167.350006,167.350006,4110600
2024-06-11,166.970001,167.500000,166.020004,167.479996,167.479996,3947700
2024-06-12,167.500000,167.639999,164.220001,165.179993,165.179993,5474500
2024-06-13,164.470001,167.000000,164.470001,166.410004,166.410004,4902200
2024-06-14,165.990005,166.929993,165.250000,166.789993,166.789993,3695000
2024-06-17,165.850006,168.710007,165.399994,167.500000,167.500000,6759400
2024-06-18,167.029999,168.649994,166.940002,168.559998,168.559998,5112600
2024-06-20,168.369995,168.779999,166.860001,167.669998,167.669998,8483600
2024-06-21,167.479996,168.880005,167.179993,168.259995,168.259995,14682000

In [20]:
pg.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1995 entries, 2015-01-02 to 2022-12-02
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1995 non-null   float64
 1   High       1995 non-null   float64
 2   Low        1995 non-null   float64
 3   Close      1995 non-null   float64
 4   Adj Close  1995 non-null   float64
 5   Volume     1995 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 109.1 KB

In [53]:
pg.tail(20)

NameError: name 'pg' is not defined

In [21]:
tickers = ["NVDA", "MSFT", "AAPL", "PYPL", "META", "AMZN", "GOOGL", "TSLA", "NFLX"]
new_data = pd.DataFrame()
for t in tickers:
    new_data[t] = pdr.DataReader(t, start="2015-01-01")["Adj Close"]
new_data.tail()

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

,NVDA,MSFT,AAPL,PYPL,META,AMZN,GOOGL,TSLA,NFLX
Date,,,,,,,,,
2024-06-14,131.880005,442.570007,212.490005,60.634998,504.160004,183.660004,176.789993,178.009995,669.380005
2024-06-17,130.979996,448.369995,216.669998,60.130001,506.630005,184.059998,177.240005,187.440002,675.830017
2024-06-18,135.580002,446.339996,214.289993,59.119999,499.489990,182.809998,175.089996,184.860001,685.669983
2024-06-20,130.779999,445.700012,209.679993,59.799999,501.700012,186.100006,176.300003,181.570007,679.030029
2024-06-21,126.570000,449.779999,207.490005,60.610001,494.779999,189.080002,179.630005,183.009995,686.119995

In [22]:
nvda = pdr.DataReader("NVDA", start="2024-01-01", end="2024-06-22")
nvda

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-01-02,49.243999,49.294998,47.595001,48.167999,48.161785,411254000
2024-01-03,47.485001,48.183998,47.320000,47.569000,47.562862,320896000
2024-01-04,47.766998,48.500000,47.507999,47.998001,47.991810,306535000
2024-01-05,48.462002,49.547001,48.306000,49.097000,49.090664,415039000
2024-01-08,49.512001,52.275002,49.479000,52.252998,52.246254,642510000
...,...,...,...,...,...,...
2024-06-14,129.960007,132.839996,128.320007,131.880005,131.880005,309320400
2024-06-17,132.990005,133.729996,129.580002,130.979996,130.979996,288504400
2024-06-18,131.139999,136.330002,130.690002,135.580002,135.580002,294335100
2024-06-20,139.800003,140.759995,129.520004,130.779999,130.779999,517768400
2024-06-21,127.120003,130.630005,124.300003,126.570000,126.570000,649445800

In [25]:
# Part 2

In [32]:
tickers = ["AAPL", "MSFT", "GOOGL", "AMZN"]
new_data = pd.DataFrame()
for t in tickers:
    new_data[t] = pdr.DataReader(t, start="2015-01-01")["Close"]
new_data.tail()

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

                  AAPL        MSFT       GOOGL        AMZN
Date
2024-06-14  212.490005  442.570007  176.789993  183.660004
2024-06-17  216.669998  448.369995  177.240005  184.059998
2024-06-18  214.289993  446.339996  175.089996  182.809998
2024-06-20  209.679993  445.700012  176.300003  186.100006
2024-06-21  207.490005  449.779999  179.630005  189.080002