In [58]:
import numpy as np

In [59]:
import pandas as pd

In [60]:
from pandas_datareader import data as pdr

In [61]:
import matplotlib.pyplot as plt

In [62]:
ser = pd.Series(np.random.random(5), name = "Column 01")

In [63]:
ser

0    0.159054
1    0.003055
2    0.711288
3    0.751629
4    0.248782
Name: Column 01, dtype: float64

In [64]:
ser[2]

0.7112882398749321

In [69]:
df = pdr.DataReader("PG", start="2015-01-01", end="2024-01-01")
df

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-01-02,90.839996,91.000000,89.919998,90.440002,69.090240,7251400
2015-01-05,90.230003,91.000000,89.849998,90.010002,68.761757,8626100
2015-01-06,90.309998,90.559998,89.260002,89.599998,68.448555,7791200
2015-01-07,89.940002,90.370003,89.559998,90.070000,68.807564,5986600
2015-01-08,90.480003,91.230003,90.129997,91.099998,69.594452,6823300
...,...,...,...,...,...,...
2023-12-22,144.500000,145.630005,144.289993,145.279999,143.442032,4412800
2023-12-26,145.089996,146.169998,144.970001,145.940002,144.093674,3634900
2023-12-27,145.649994,146.309998,145.360001,146.059998,144.212158,4569400
2023-12-28,146.000000,146.009995,145.039993,145.729996,143.886337,5023000
2023-12-29,146.000000,146.960007,145.729996,146.539993,144.686081,5300900

In [76]:
apple = pdr.DataReader("AAPL", start="2020-01-01", end="2024-06-20")
apple

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02,74.059998,75.150002,73.797501,75.087502,72.960449,135480400
2020-01-03,74.287498,75.144997,74.125000,74.357498,72.251144,146322800
2020-01-06,73.447502,74.989998,73.187500,74.949997,72.826851,118387200
2020-01-07,74.959999,75.224998,74.370003,74.597504,72.484367,108872000
2020-01-08,74.290001,76.110001,74.290001,75.797501,73.650345,132079200
...,...,...,...,...,...,...
2024-06-12,207.369995,220.199997,206.899994,213.070007,213.070007,198134300
2024-06-13,214.740005,216.750000,211.600006,214.240005,214.240005,97862700
2024-06-14,213.850006,215.169998,211.300003,212.490005,212.490005,70122700
2024-06-17,213.369995,218.949997,212.720001,216.669998,216.669998,93728300
2024-06-18,217.589996,218.630005,213.000000,214.289993,214.289993,79943300