In [58]:
import numpy as np

In [59]:
import pandas as pd

In [60]:
from pandas_datareader import data as pdr

In [61]:
import matplotlib.pyplot as plt

In [62]:
ser = pd.Series(np.random.random(5), name = "Column 01")

In [63]:
ser

0    0.159054
1    0.003055
2    0.711288
3    0.751629
4    0.248782
Name: Column 01, dtype: float64

In [64]:
ser[2]

0.7112882398749321

In [69]:
df = pdr.DataReader("PG", start="2015-01-01", end="2024-01-01")
df

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-01-02,90.839996,91.000000,89.919998,90.440002,69.090240,7251400
2015-01-05,90.230003,91.000000,89.849998,90.010002,68.761757,8626100
2015-01-06,90.309998,90.559998,89.260002,89.599998,68.448555,7791200
2015-01-07,89.940002,90.370003,89.559998,90.070000,68.807564,5986600
2015-01-08,90.480003,91.230003,90.129997,91.099998,69.594452,6823300
...,...,...,...,...,...,...
2023-12-22,144.500000,145.630005,144.289993,145.279999,143.442032,4412800
2023-12-26,145.089996,146.169998,144.970001,145.940002,144.093674,3634900
2023-12-27,145.649994,146.309998,145.360001,146.059998,144.212158,4569400
2023-12-28,146.000000,146.009995,145.039993,145.729996,143.886337,5023000
2023-12-29,146.000000,146.960007,145.729996,146.539993,144.686081,5300900